﻿^ContentPage {
    background-color: #000030;
    color: white;
    font-size: 20;
    margin: 0;
    padding: 5;
}

/* REM Padding and Margin are: top, right, bottom, left */

StackLayout {
}

ListView {
    background-color: gray;
}

Entry {
    background-color: gray;
    color: white;
}

Editor {
    background-color: gray;
    color: white;
}

Label {
    color: gray;
    font-weight: lighter;
    font-size: 12;
}

.LikeAnEntry {
    background-color: gray;
    color: white;
    font-weight: normal;
    font-size: 20;
}

.Hint {
    color: darkgoldenrod;
    font-size: 12;
}

.VaultName {
    color: white;
    font-size: 20;
    margin: 5 0 5 0;
}

.FolderName {
    color: white;
    font-size: 20;
    margin: 5 0 5 0;
}

.FolderTitle {
    color: white;
    font-size: 20;
    margin: 0;
}

.FolderDescription {
    color: white;
    font-size: 15;
    margin: 0;
}

Button {
    background-color: transparent;
    border-color: white;
    border-width: 2;
    color: yellow;
    font-size: 8;
    width: 55;
}
